FOOTGLOBE_API_URL=https://footglobe-api-nu.vercel.app
GOATPAY_API_KEY=
BINANCE_API_KEY=
BINANCE_API_SECRET=
YOUTUBE_API_KEY=
DISCORD_VISITOR_WEBHOOK_URL=
VISITOR_HASH_SECRET=

NEXT_PUBLIC_SUPABASE_URL=

NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
